<button
  pButton
  type="button"
  icon="pi pi-plus"
  class="p-button-warning ml-5"
  iconPos="left"
  [routerLink]="['./createAsgn']"
  routerLinkActive="active"
  label="Add Assignment"
  *ngIf="isFac"
></button>
<table class="table">
  <thead>
    <tr class="table-info">
      <th scope="col">Title</th>
      <th scope="col">Subject</th>
      <th scope="col" *ngIf="isFac">Semester</th>
      <th scope="col" *ngIf="isFac">Branch</th>
      <th scope="col">Date Assigned</th>
      <th scope="col">Deadline</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody *ngIf="assignments">
    <tr
      [ngClass]="{
        pending: asgn.status == 'pending',
        completed: asgn.status == 'completed'
      }"
      *ngFor="let asgn of assignments"
    >
      <th class="align-middle" scope="row">{{ asgn.title }}</th>
      <td class="align-middle">{{ asgn.subject }}</td>
      <td class="align-middle" *ngIf="isFac">{{ asgn.semester }}</td>
      <td class="align-middle" *ngIf="isFac">{{ asgn.branch }}</td>
      <td class="align-middle">{{ asgn.assignedOn | date: "dd/MM/yyyy" }}</td>
      <td class="align-middle">{{ asgn.deadline | date: "dd/MM/yyyy" }}</td>
      <td class="align-middle">
        <p-button
          *ngIf="asgn.status == 'pending'"
          (click)="showDialog(asgn)"
          class="tableButton"
          label="Submit"
        ></p-button>
        <p-button
          *ngIf="isFac"
          (click)="showDialog(asgn)"
          class="tableButton"
          label="View Submission"
        ></p-button>
        <p-button
          *ngIf="asgn.status == 'completed'"
          (click)="showDialog(asgn)"
          class="tableButton"
          label="View Submission"
        ></p-button>
      </td>
    </tr>
  </tbody>
</table>

<p-dialog
  [header]="selectedAsgn.title"
  [(visible)]="display"
  [modal]="true"
  *ngIf="selectedAsgn"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <div class="font-weight-bold mb-2">{{ selectedAsgn.subject }}</div>
  <div class="mb-2">{{ selectedAsgn.description }}</div>
  <span class="font-weight-bold mb-4">Last Date :</span>
  {{ selectedAsgn.deadline | date: "d MMMM, h:mm a" }}
  <div class="form-group row mt-3">
    <label class="col-sm-2 col-form-label" for="deadline"
      >Attach Files <i class="fas fa-paperclip"></i
    ></label>
    <div class="col-sm-10">
      <p-fileUpload
        name="demo[]"
        auto="true"
        skinSimple="true"
        (onSelect)="onUpload($event)"
        (onRemove)="onDelete($event)"
        multiple="multiple"
        maxFileSize="100000000"
      >
      </p-fileUpload>
    </div>
  </div>
  <p-editor [(ngModel)]="text" [style]="{ height: '320px' }"> </p-editor>

  <p-footer>
    <button
      type="button"
      class="p-button-success"
      pButton
      icon="pi pi-check"
      (click)="submitAsgn()"
      label="Submit"
    ></button>
    <button
      type="button"
      class="p-button-danger"
      pButton
      icon="pi pi-times"
      (click)="display = false"
      label="Cancel"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog
  [header]="selectedAsgn.title"
  [(visible)]="display2"
  [modal]="true"
  *ngIf="selectedAsgn"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <!-- <p-editor [(ngModel)]="text" [style]="{ height: '320px' }"> </p-editor> -->

  <div
    style="cursor: pointer"
    (click)="showSelectedAsgnDialog(asgn)"
    *ngFor="let asgn of submittedAsgns"
  >
    {{ asgn.studentName }}
  </div>

  <p-footer>
    <button
      type="button"
      class="p-button-success"
      pButton
      icon="pi pi-check"
      (click)="submitAsgn()"
      label="Submit"
    ></button>
    <button
      type="button"
      class="p-button-danger"
      pButton
      icon="pi pi-times"
      (click)="display = false"
      label="Cancel"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog
  [header]="selectedAsgn.title"
  [(visible)]="display3"
  [modal]="true"
  *ngIf="selectedSubmittedAsgn"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <!-- <p-editor [(ngModel)]="text" [style]="{ height: '320px' }"> </p-editor> -->

  <div>
    {{ selectedSubmittedAsgn.studentName }}
  </div>

  <div
    [innerHtml]="selectedSubmittedAsgn.text"
    *ngIf="selectedSubmittedAsgn.text"
  >
    <strong>Text : </strong>
  </div>

  <div>
    <strong>Submitted on : </strong>
    {{ selectedSubmittedAsgn.submissionDate | date: "dd/MM/yyyy, h:mm a" }}
  </div>

  <p-footer>
    <button
      type="button"
      class="p-button-success"
      pButton
      icon="pi pi-check"
      (click)="submitAsgn()"
      label="Submit"
    ></button>
    <button
      type="button"
      class="p-button-danger"
      pButton
      icon="pi pi-times"
      (click)="display = false"
      label="Cancel"
    ></button>
  </p-footer>
</p-dialog>
