<div class="container mt-4">
  <!-- announcement section -->
  <div class="row py-3 event">
    <div class="col">
      <!-- announce head -->
      <div class="row ">
        <div class="col ahead d-flex justify-content-start">
          <span class="fa fa-calendar-alt pr-2 pt-1"> </span>
          Events
        </div>
      </div>
      <hr class="mt-2 mb-0" />
      <!-- announcements -->
      <div class="row pb-0">
        <div class="col px-0">
          <!-- one announcemet -->
          <div *ngFor="let item of list">
            <div class="row mx-0 pt-3">
              <div class="col-1 bt pt-1">
                <span class="fa fa-circle"></span>
              </div>
              <div class="col-6 px-2 ml-1 d-flex justify-content-center  econt">
                {{ econtent }}
              </div>
              <div class="col-4 edates px-0 mx-0 d-flex justify-content-end">
                {{ esdate | date: "d MMM" }} - {{ eedate | date: "d MMM" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
