<a class="ripple" [ngClass]="{ 'active-link': grayBg }">
  <div
    class="row mx-0 py-1"
    nz-popover
    nzPopoverTitle="{{ event.title }}"
    [(nzPopoverVisible)]="visible"
    (nzPopoverVisibleChange)="change($event)"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottom"
  >
    <div class="col-1 bt my-auto" style="max-height: 1rem">
      <span class="fa fa-circle"></span>
    </div>
    <div class="col-7 px-2 acontent">
      {{ event.title }}
    </div>
    <div class="col adate mx-0 pr-1 justify-content-end">
      {{ event.dateFrom | date: "d MMM" }} - {{ event.dateTo | date: "d MMM" }}
    </div>
  </div>
</a>

<ng-template style="color: black" #contentTemplate>
  <span (click)="clickMe()" [innerHtml]="event.description"></span>
  Posted by : {{ event.username }}
  <br />
  Duration : {{ event.dateFrom | date: "d MMM, h:mm a" }} -
  {{ event.dateTo | date: "d MMM, h:mm a" }}
</ng-template>
